Turret_Base_Scripts/opencv
Gun_Scripts/shutdown_reset_control.py
Documentation/sources.aux
Documentation/sources.fdb_latexmk
Documentation/sources.fls
Documentation/sources.log
Documentation/sources.synctex.gz
Documentation/__latexindent_temp.tex
